html body {
  background-color: #26264C;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  margin-top: 2%;
  min-width: 320px;
  min-height: 568px;
}

.container form input {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 1.2em;
  color: #666;
}

.form-control {
  min-width: 480px;
}

.container form input::placeholder {
  color: #999;
  font-size: 1em;
}

.container form button {
  margin-top: 20px;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

#llogo {
  margin-left: auto;
  margin-right: auto;
}

#brand {
  margin-left: auto;
  margin-right: auto;
}